[Unit]
Description=Memory Game Server

[Service]
Type=simple
User=memoryserver
Group=memoryserver
Restart=on-failure
Environment=MIX_ENV=prod "PORT=4792"
Environment=LANG=en_US.UTF-8

WorkingDirectory=/home/memoryserver/memory2
ExecStart=/home/memoryserver/memory2/start.sh

[Install]
WantedBy=multi-user.target
